body {
    color: black;
}

h4 {
    font-weight: bold;
    color: #0d875c;
    text-align: center;
    display: none;
}

.chon-phong {
    margin-right: 10%;
}

table tbody tr td a {
    color: blue;
}


.input-group-btn {
    text-align: right
}

.input-group-btn button {
    background-color: #0d875c;
    color: white;
    width: 150px;
    margin-right: 10px;
}

.input-group-btn button:hover {
    color: white;
    background-color: #0d875c;
}






@media only screen and (max-width:768px) {
    h4 {
        display: block;
    }

    .chon-phong {
        margin-right: 0%;
    }
}
