.modal-content {
    border: 5px solid #0d875c;
    border-radius: 25px;
}

.modal-header {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.checkbox-login {
    height: 50px;
    width: 100.2%;
    background-color: #0d875c !important;
    margin-bottom: 10px;
    border-bottom: 2px solid #0d875c;
    border-top: 2px solid #0d875c;
}

.checkbox-login label {
    margin-top: 10px;
    color: white;
    text-align: left;
}

button.close {
    color: red !important;
    text-align: center;
    font-size: 30px;
}

button#btnLogin {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #0d875c !important;
    border: 1px solid #0d875c !important;
}

button#btnLogin:hover {
    background-color: #0d875c !important;
}

.form-control {
    height: 40px;
    border: 1px solid #0d875c;
}

.form-group{
    padding: 15px;
}

span.error {
    color: red;
}

.div-btnLogin {
    text-align: center !important;
    font-weight: bold;
    padding: 15px;
}

.modal-body{
	line-height: 35px;
	padding: 0;
}

.checkbox{
	padding: 15px;
}

