h4 {
    color: #0d875c !important;
    font-weight: bold;
}
table{
    margin: 10px;
}
td{
    padding: 5px;
    font-weight: bold;
}
.trang-cua-ban{
    border: 1px solid black;
    height: 250px;
    width: 800px;
}