body{
    color: black;
}

h4 {
    font-weight: bold;
    color: #0d875c;
    text-align: center;
    display: none;
}

.row{
    margin-left:0px;
}

.ket-qua-tim-kiem #co-ket-qua, .ket-qua-tim-kiem #khong-co-ket-qua {
    display: none;
    /*display: block;*/
}


@media only screen and (max-width:768px) {
    h4 {
        display: block;
    }
}